
      <div class="container" align="center " margin=100%>
          
          <button class="cssbutton" type="button">services</button>
          <button class="cssbutton" type="button">innovation</button>
          <button class="cssbutton" type="button">group</button>
          <button class="cssbutton" type="button">Create</button>
          <button class="cssbutton" type="button">contacts</button>
          <button class="cssbutton" type="button">newsroom</button>
          <button class="cssbutton" type="button">help</button>
</div>
<div class="tableau" align="center" margin=100% >
  <table>
  <caption>Info utilisateurs</caption>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Mail</th>
      <th>adress</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Giraud</td>
      <td>Pierre</td>
      <td>pierre.giraud@edhec.com</td>
      <td> 5 rue des far meknes</td>
    </tr>
    <tr>
      <td>Joly</td>
      <td>Pauline</td>
      <td>pjl@gmail.com</td>
      <td> 5 rue bir anzaran rabat</td>
    </tr>
  </tbody>
</table>
</div>
<div class="texto">
  <h1>Les Media Queries correspondent à des styles CSS conditionnels. Les Media Queries se basent sur la règle CSS @media qui va nous permettre de définir différents styles CSS pour différents types d’appareils media et selon différents critères.

Nous allons ainsi, grâce aux Media Queries, pouvoir présenter le même contenu HTML de différentes façons en fonction de l’appareil utilisé par nos visiteurs pour accéder à nos pages.

On va ainsi par exemple déjà pouvoir changer la disposition des éléments ou la couleur de fond de nos pages en fonction de la taille de l’écran d’un utilisateur :</h1>
  
</div>
